auto/*
*.eps
missfont.log
musicologia-computacional-anppom.aux
musicologia-computacional-anppom.bbl
musicologia-computacional-anppom.blg
musicologia-computacional-anppom.dvi
musicologia-computacional-anppom.log
musicologia-computacional-anppom.pdf
musicologia-computacional-simples.aux
musicologia-computacional-simples.bbl
musicologia-computacional-simples.blg
musicologia-computacional-simples.dvi
musicologia-computacional-simples.log
musicologia-computacional-simples.pdf
